<!DOCTYPE html>
  <html>
    <head>
      <title>
        Spamming Bot
      </title>
      <h1 align="center">Instagram Spamming Bot</h1>
      <h3 align="center">(stay logged in this browser)</h3>
    </head>
    <body>
          <form action="/confirmation_page" method="POST"  align="center" >
<p>Enter url:
<input type="text" id="url" name="url"></p>
  <p>Enter Message:
  <input type="text"id="msg" name="msg" ></p>
 <p>Number of Messages:
  <input type="number" align="center id="num" name="num" ></p>

<p>
  <input type="submit" value="Submit"></p>
           </form> 
   </body>
    </html>